body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
a {
  color: #00b7ff;
}
div#canvas {
  width: 836px;
  margin: auto;
}
div#canvas canvas#whiteboard {
  float: left;
  background: #fff;
  cursor: pointer;
}
div#canvas ul#colorSelect {
  padding: 0;
  margin: 0;
  border: 3px solid #000;
  height: 22px;
  box-sizing: border-box;
  list-style: none;
  width: 836px;
}
div#canvas ul#colorSelect li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
}
div#canvas ul#colorSelect li.active {
  margin: 1px;
  border: 1px solid #000;
  outline: 1px solid #ff0;
  width: 12px;
  height: 12px;
}
div#canvas ul#lineWidth {
  float: left;
  list-style: none;
  padding: 3px;
  margin: 0;
  border: 3px solid #000;
  border-top: 0;
}
div#canvas ul#lineWidth li {
  width: 24px;
  padding: 5px 0;
}
div#canvas ul#lineWidth li div {
  background: #000;
}
div#canvas ul#lineWidth li.active div {
  background: #ff0;
}
